.activity{
    margin-top: 50px;
    /* margin-left: 150px; */
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: aliceblue;
}
.activity-container{
    display: flex;
    padding-bottom: 20px;
}
.box1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100px;
    width: 100px;
    background-color: transparent;
    border-radius: 12px;
    font-weight: normal;
    gap: 1rem;
    border: 1px solid rgb(45, 50, 48);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 20px;
    color: #fff;
  
}
.box2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100px;
    width: 100px; 
    background-color: transparent;
    border-radius: 12px;
    margin-top: 20px;
    margin-left: 20px;  
    font-weight: normal;
    gap: 1rem;
    border: 1px solid rgb(45, 50, 48);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: #fff;
}
.box1:hover{
    cursor: pointer;
    background-color: rgb(20, 194, 216);
}
.box2:hover{
    cursor: pointer;
    background-color: rgb(20, 194, 216);
}