.sub-heading{
    color: aliceblue;
    margin-left: 30px;
    font-size: 10px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.money{
    color: aliceblue;
    font-size: 20px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    margin-left: 30px;
}