.body{
    display: flex;
    background-image: linear-gradient(to right, #19234b, #191a2c, #182044);
    height:700px;
    border-bottom-left-radius:20px;
    border-bottom-right-radius: 20px;
    flex-direction: row;
}

.left-container{
    border-right: 1px solid rgb(65, 64, 64);
    margin-left: 10px;
    width: 30%;

       
}
.right-container{
    
    display: block;
    width: 70%;
    display: flex;
    flex-direction: column;  

}
.first{
    display: flex;
}
.second{
    display: flex;
    flex-direction: column;
}