.transiction{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: aliceblue;
    margin-top: 10px;
    margin-left: 30px;

}
.youtube{
    width:50px;
    margin-top: 30px;
    margin-left: 30px;

}
.yt-container{
    display: flex;
}
.product{
    margin-top: 38px;
    margin-left: 20px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: aliceblue;
    

}
.cost{
    margin-top: 38px;
    margin-left: 20px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: aliceblue;

}
.apple-cost{
    margin-top: 38px;
    margin-left: 50px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: aliceblue;

}